html {
  &, body {
    width: 100%;
    height: 100%;
    color: #777;
    -webkit-appearance: none; /* 2 */
    -webkit-tap-highlight-color: transparent;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    vertical-align: baseline;
  }

  body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
  }
  ol, li, ul, dl, dd {
    list-style: none;
  }

  .pd30 {
    padding: 0 30px;
  }

  button,
  html input[type="button"], /* 1 */
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */

  }

  a, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    line-height: 150%;
    vertical-align: baseline;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
  }

  button:active, button:focus, input:active, input:focus {
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    filter: alpha(opacity=0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-modify: read-write-plaintext-only;
  }
  input::-webkit-input-placeholder {
    color: #777;
  }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
  .pull-left {
    display: inline;
    float: left;
  }
  .pull-right {
    display: inline;
    float: right;
  }

}

.mt20 {
  margin-top: 20px;
}

body {
  background: #f2f2f5;
}

::-webkit-scrollbar-track {
  background-color: #e13602;
} /* 滚动条的滑轨背景颜色 */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
} /* 滑块颜色 */
::-webkit-scrollbar-button {
  background-color: #e13602;
} /* 滑轨两头的监听按钮颜色 */
::-webkit-scrollbar-corner {
  background-color: #e13602;
}

#root {

  color: #202020;
  font-size: 24px;
  height: 100%;
}

.icon-point {
  background: url("../imgs/icon-2.jpg") 0 center no-repeat;
  background-size: 17px 18px;
  padding-left: 24px;
}

.icon-point-grey {
  background: url("../imgs/icon-2-grey.jpg") 0 center no-repeat;
  background-size: 17px 18px;
}
