.page-myPoint {
  .point-title{
    height: 278px;
    background: #fff;
    border-bottom: 1px solid #ebebeb;
    .point-num{
      padding: 40px 0 0 0;
      color: #747474;
      font-size: 30px;
      text-align: center;
      p{
        color: #ff4200;
        font-size: 70px;
        margin: 15px 0 20px;
      }
    }
    .point-link{
      height: 80px;
      .link-item{
        background: url("../../public/imgs/icon-market.jpg") 65px center no-repeat;
        background-size: 46px 46px;
        font-size: 28px;
        padding-left: 130px;
        &:last-child{
          position: relative;
          background: url("../../public/imgs/icon-record.jpg") 65px center no-repeat;
          background-size: 46px 46px;
          &:after{
            position: absolute;
            left: 0;
            height: 30px;
            top: 50%;
            transform: translate(0,-50%);
            width:1px;
            background: #d4d4d4;
            content: "";
          }
        }
      }
    }
  }
  h3{
    font-size: 22px;
    font-weight: normal;
    color: #999;
    padding: 10px 30px 5px;
  }
  .point-body{
    position: absolute;
    left: 0;
    top: 328px;
    right: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;



    .p-item{
      height: 118px;
      background: #fff;
      border-top: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
      padding: 10px 30px 0;
      margin-bottom: 20px;
      .p-item-left{
        padding-top: 15px;
        p{
          font-size: 28px;
          &:last-child{
            font-size: 22px;
            color: #999;
          }
        }
      }
      .p-item-right{
        font-size: 28px;
        &.p-item-add{
          color: #ff4200;
        }
        &.p-item-reduce{
          color: #3acf8e;
        }
      }
    }
  }
}




































